spring:
  application:
    name: sri-karthikeya-caterers
  profiles:
    active: dev
  data:
    mongodb:
      uri: mongodb://localhost:27017/sri-karthikeya-caterers
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

aws:
  s3:
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
    bucket-name: ${AWS_BUCKET_NAME:skc-gallery-and-type-s3}
    region: ${AWS_REGION:ap-south-2}

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    sri.karthikeya.caterers: DEBUG
    org.springframework.data.mongodb: DEBUG
    org.springframework.security: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
